.skillsSection {
  width: 100%;
  padding: 70px 50px;
}

.skillsSection h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}
.skillsSection h3 {
  text-align: center;
  font-size: 1.5rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.skill {
  width: 30%;
  padding: 50px 40px;
  border-radius: 6px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}

.skill:hover {
  background-color: var(--color-brand--1);
  color: var(--color-light--1);
  box-shadow: 10px 20px 30px rgba(71, 110, 177, 0.6);
}
.skill h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}
.skill p {
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .skill {
    width: 300px;
  }
}
@media only screen and (max-width: 500px) {
  .skillsSection {
    padding: 70px 20px;
  }

  .skill {
    width: 350px;
  }
}
