.quickLinks {
  width: 30%;
  background-color: var(--color-light--1);
  padding: 30px;
  height: 100%;
}
.quickLinks h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.quickLinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0 !important;
}
.quickLinks ul li a {
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}
.quickLinks ul li a:hover {
  color: var(--color-light--1);
  background-color: var(--color-brand--1);
  box-shadow: 10px 20px 30px rgba(71, 110, 177, 0.5);
}
.quickLinks ul li a {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-dark--1);
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
}
.quickLinks ul li a.active {
  background-color: var(--color-brand--1);
  color: var(--color-light--1);
}
@media only screen and (max-width: 768px) {
  .quickLinks {
    width: 100%;
    margin-bottom: 20px;
  }
}
